@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Roboto+Mono&display=swap');

body {
    font-family: 'Fjalla One', sans-serif;
    color: #4f6a8f;
}

h1 {
    text-align: center;
}

.container {
    width: 100%;
}

#box {
    background: #88a2bc;
    height: 200px;
    width: 40%;
    margin: 100px auto;
}

.controls {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.controls div {
    padding-top: 10px;
}

.controls div label {
    text-align: center;
    display: block;
    margin-top: 5px;
}

#xpos, #ypos, #blur, #spread {
    width: 45px;
}

.output {
    margin: 15px auto;
    border-radius: 3px;
    padding: 8px;
    border: 1px solid #4f6a8f;
}

.output p {
    font-size: 14px;
    font-family: 'Roboto Mono', monospace;
    color: #d99477;
}