@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Roboto+Mono&display=swap');

:root {
    --blue: #3e9cbf;
    --text-blue: #4f6a8f;
    --reddish-brown: #d99477;
    --input-grey: #f2f2f3;
    --radius: 3px;
}

* {
    margin: 0;
}

body {
    font-family: 'Fjalla One', sans-serif;
    color: var(--text-blue);
    background: var(--text-blue);
    height: 100%;
}

/* Main Content */

.content {
    background: white;
    height: 100%;
    width: 910px;
    margin: 0 auto;
    padding: 26px 0;
}

h2 {
    font-size: 20px;
    margin-bottom: 8px;
}

h1, h2 {
    text-align: center;
}

/* Styles for preview block */

.container {
    width: 100%;
}

#box {
    background: var(--blue);
    height: 200px;
    width: 40%;
    margin: 100px auto;
}

/* Styles for controls and user interaction */

.controls {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-wrap: wrap;
    padding-bottom: 18px;
    margin-bottom: 18px;
}

.controls div {
    padding-top: 10px;
    text-align: center;
}

.controls div label {
    display: block;
    margin-top: 5px;
}

#xpos, #ypos, #blur, #spread {
    width: 45px;
    font-family: 'Fjalla One', sans-serif;
    background: var(--input-grey);
    color: var(--text-blue);
    border: 1px solid var(--text-blue);
    padding: 6px 4px;
    border-radius: var(--radius);
}

#picker {
    width: 55px;
    height: 30px;
    background: #0000007c;
    border: 1px solid var(--text-blue);
    border-radius: var(--radius);
}

.output {
    margin: 15px auto;
    border-radius: var(--radius);
    padding: 8px;
    border: 1px solid var(--text-blue);
    margin: 0 26px
}

.output p {
    font-size: 14px;
    font-family: 'Roboto Mono', monospace;
    color: var(--reddish-brown)
}

/* Footer style */

footer {
    color: white;
    text-align: center;
    margin: 30px auto;
}

footer a {
    color: white;
}

/* Media query to squash UI on narrow windows */

@media screen and (max-width: 910px) {
    .content {
        width: 100%;
    }
}